hard_boson_v2.aux
hard_boson_v2.log
hard_boson_v2.out
hard_boson_v2.synctex.gz
hard_boson_v2Notes.bib
hard_boson_v2.bbl
hard_boson_v2.blg
hard_boson_v2.pdf
proposal_share.aux
proposal_share.log
proposal_share.out
proposal_share.pdf
proposal_share.synctex.gz
proposal_shareNotes.bib
proposal_share.bbl
proposal_share.blg
proposal_share.toc
sigma-sigma.nb
sigma-sigma.nb
hard_boson.aux
hard_boson.log
hard_boson.out
hard_boson.pdf
hard_boson.synctex.gz
hard_bosonNotes.bib
paper/Ry-conf-paper.aux
paper/Ry-conf-paper.bbl
paper/Ry-conf-paper.blg
paper/Ry-conf-paper.log
paper/Ry-conf-paper.out
paper/Ry-conf-paper.pdf
paper/Ry-conf-paper.synctex.gz
paper/Ry-conf-paper.toc
